@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

$main-font: 'Roboto Condensed', sans-serif;
$background-color: rgb(92, 89, 89);
$background-color-secondary: rgb(69, 69, 99);
$primary-color: rgb(255, 248, 248);
$secondary-color: rgb(175, 175, 13);
$background-opacity: 0.8;
$background-image: url('../images/pexels-janko-ferlic-590493.jpg');