@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

$main-font: 'Roboto Condensed', sans-serif;
$background-color: #8771AA;
$background-color-secondary: #5B79B8;
$primary-color: white;
$secondary-color: rgb(175, 175, 13);
$third-color: #5B79B8;
$background-opacity: 0.8;
$background-image: url('../images/pexels-janko-ferlic-590493.jpg');


//animation mixins
@mixin easeOutIn {
    transition: all 0.7s ease-in-out;
}



//Media Query Mixins
@mixin mediaSm {
    @media screen and (max-width: 600px){
     @content
     }
 };
 
 @mixin mediaMd {
     @media screen and (max-width: 768px){
      @content
      }
  };
 
  @mixin mediaLg {
     @media screen and (min-width: 769px) and (max-width: 1170px){
      @content
      }
  };
 
  @mixin mediaXl {
     @media screen and (min-width: 1171px){
      @content
      }
  };
 
 