@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

$main-font: 'Roboto Condensed', sans-serif;
$background-color: #8771AA;
$background-color-secondary: #5B79B8;
$primary-color: white;
$secondary-color: rgb(175, 175, 13);
$third-color: #5B79B8;
$background-opacity: 0.8;
$background-image: url('../images/pexels-janko-ferlic-590493.jpg');