

.hd{
    background: $background-color-secondary;
    .logout-btn{
        background-color: $primary-color;
        color: $background-color-secondary;
        border: none;
        width: 6em;
        height: 1.8em;
        border-radius: 0.4em;
        font-size: 1rem;
        font-weight: 600;
        transition: color 0.25s, border-color 0.25s;
        background-color:$primary-color;
            &:hover{
                border-color: $secondary-color;
                color: $secondary-color;
            }
    }
    header{
        margin: 0 17rem 0 17rem;
        font-size: 1.6em;
        font-weight: 800;
        overflow: hidden;
        &#hd-private{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: 2.5rem;
            align-items: center;
            .nav-link{
                text-decoration: none;
                color: $primary-color;
                &:hover{
                    color: $secondary-color;
                }
            }
        }
        &#hd-public{
            margin: 0 6rem 0 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            height: 2.5rem;
            align-items: center;
            .nav-link{
                text-decoration: none;
                color: $primary-color;
                padding: 2rem;
                &:hover{
                    color: $secondary-color;
                }
            }
        }
    }
}

