

div.menu{
    background: $background-color-secondary;
    position: fixed;
    z-index: 20;
    width: 100%;
    .logout-btn{
        background-color: $primary-color;
        color: $background-color-secondary;
        border: none;
        padding: 0.4rem;
        border-radius: 0.4em;
        font-size: 0.8rem;
        font-weight: 600;
        transition: color 0.25s, border-color 0.25s;
        background-color:$primary-color;
            &:hover{
                border-color: $secondary-color;
                color: $secondary-color;
                cursor: pointer;
            }
    }
        .menu-nav{
            font-size: 1.6em;
            font-weight: 800;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            height: 2.5rem;
            align-items: center;
            .nav-link{
                // margin: 0 4rem;
                text-decoration: none;
                color: $primary-color;
                &:hover{
                    color: $secondary-color;
                }
            }
        }
        .menu-nav-public{
            margin: 0 4rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            height: 2.5rem;
            font-weight: 800;
            font-size: 1.6em;
            align-items: center;
            .nav-link{
                text-decoration: none;
                color: $primary-color;
                padding: 2rem;
                &:hover{
                    color: $secondary-color;
                }
            }
        }
}

