main{
    hr{
        width: 92%;
    }
    &#lib{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
        overflow-y: visible;
        .hd-lg{
            font-size: 3em;
        }
        .lib-filters{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            height: 8em;
            width: 100%;
            font-size: 1.3em;
            position: fixed;
            top: 7em;
            background: rgba($background-color, 0.6);
            // background-color: rgba($background-color-secondary, 1);
            .text-input{
                height: 47.3px;
                font-size: 2em;
                width: 10em;
                border: 1px solid white;
                margin-right: 1em;
            }
            .btn-close{
                color: white;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .lib-top{
            top: 3.1em;
            position: fixed;
            display: flex;
            flex-direction:column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 20vh;
            z-index: 100;
            background: rgba($background-color, 0.6);
            .lib-btns{
                flex-direction: row;
            }
            }
        }

            .lib-ls{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                height: auto;
                flex-wrap: wrap;
                position: relative;
                top: 20em;
                height: auto;
                overflow-y: visible;
            &::-webkit-scrollbar {
                width: 0px; 
                background: transparent; 
                };
                .lib-card{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    color: black;
                    border: black;
                    box-shadow: 5px 6px 15px 5px #000000;
                    background-color: white;
                    width: 20em;
                    height: 25em;
                    margin: 1em;
                    border-radius: 0.4em;
                    .lib-card-info{
                        overflow: hidden;
                        display: flex;
                        flex-direction: column;
                        height: 85%;
                        margin: 0 0.5em 0 0.5em;
                        .hd-md{
                            margin-top: 0%;
                            height: 10%;
                        }
                        .card-p{
                            height: 30%;
                        }
                    }
                    .lib-card-btn{
                        height: 15%;
    
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items: center;
                        .btn-sm{
                            color: white;
                            width: 8.5em;
                            height: 2.5em;
                            background-color: $background-color-secondary;
                            &:hover{
                                background-color: #5B79B8;;
                            }
                        }
                        
                    }
                    p{
                     margin: 0.2em;
                     height: auto;
                    }
                }
            }
    }

