main{
    &.notes-page{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $background-color;
        // justify-content: space-around;
        .hd-md{
            position: fixed;
            top: 6em;
            z-index: 1;
        }
        .btn-lg{
            position: relative;
            top: 12em;
        }
        .notes-list{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            top: 17em;
            z-index: 0;
            .note-card{
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                text-align: center;
                color: black;
                border: black;
                background-color: white;
                width: 85vw;
                height: 35em;
                margin: 1em;
                border-radius: 0.4em;
        
                .note-card-info{
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    width: 80vw;
                    height: 27em;
                    margin: 0 0.5em 0 0.5em;
                    .info-text{
                        font-size: 1.5em;
                        font-weight: 600;
                        &#note-text{
                            font-weight: 700;
                            height: 60%;
                        }
                    }
                }
                .hd-md{
                    position: relative;
                    top: 0em;
                    height:10%;
                    font-weight: 800;
                }
            }
        }
}
}

