main{
    &.notes-page{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: space-around;
        .notes-list{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            top: 17em;
            z-index: 1;
            .note-card{
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                text-align: center;
                color: black;
                border: black;
                background-color: white;
                width: 85vw;
                height: 35em;
                margin: 1em;
                border-radius: 0.4em;
                .note-card-info{
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    width: 80vw;
                    height: 27em;
                    margin: 0 0.5em 0 0.5em;
                    .info-text{
                        font-size: 1.5em;
                        font-weight: 600;
                        &#note-text{
                            font-weight: 700;
                            height: 60%;
                        }
                    }
                }
                .hd-md{
                    position: relative;
                    top: 1.1em;
                    height:10%;
                    font-weight: 800;
                }
            }
        }
        .notes-page-top{
            background: $background-color;
            top: 3em;
            position: fixed;
            display: flex;
            flex-direction:column;
            align-items: center;
            justify-content: center;
            width: 100%;
            z-index: 30;
            height: 4.2em;
            .notes-filters{
                background: $background-color;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                height:auto;
                width: 100%;
                font-size: 1.3em;
                position: fixed;
                top: 5.5em;
                .text-input{
                    height: 47.3px;
                    font-size: 2em;
                    width: 10em;
                    border: 1px solid white;
                    margin-right: 1em;
                }
                .notes-sort{
                    margin-right: 0.2em;
                    width: 100px;
                    height: 47.3px;
                    font-size: 1em;
                }
        }
    }
}
}